{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}


            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <form action="{% url 'adc' %}" method="post" class="signin-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text"  class="form-control" name="categoryname" placeholder="Category Name"
                                    required>
                            </div>
                            <button type="submit">add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
   

