{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}

<head>
    <style>
        body {
            background-color: rgb(249, 252, 251);
        }

        table,
        th,
        td {
            border: 1px solid rgb(0, 0, 0);
        }

        tr:nth-child(odd) {
            background-color: #fcf9f9;
        }

        th {
            background-color: rgb(234, 233, 240);
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILS</title>
</head>

<body>

    <table style="width:100%">
        <h2>
            <center>Programs</center>
        </h2>
        <tr>
                </form>
                <br>
                    <th><b>Name</b></th>
                    <th><b>Category</b></th>
                    <th><b>Price</b></th>
                    <th><b>image</b></th>
                    <th><b>stock</b></th>
                    <th><b>Status</b></th>
                    <th><b>Description</b></th>
                    <th><b>Edit</b></th>
                    <th><b>Delete</b></th>
        </tr>
        {% for i in data %}
        <tr>
         
            <td>
                {{i.name}}
            </td>
            <td>
                {{i.category}}
            </td>
            <td>
                {{i.price}}
            </td>
            <td>
                <img src="{{i.image.url}}" style="height: 10%; width:20%;">
            </td>
            <td>
                {{i.stock}}
            </td>
            <td>
                {{i.stockstatus}}
            </td>
            <td>
                {{ i.description}}
            </td>
            <td>
                <a href="{% url 'ed' pid=i.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'dl' pid=i.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </center>
    </table>
</body>

{% endblock %}
