{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
<center>
    <h2 class="heading-section"><b>Update Product</b></h2>
</center>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <form action="{% url 'ed' pid=id %}" method="post" enctype="multipart/form-data" class="signin-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="productname" value="{{productdata.name}}" placeholder="Product name" required>

                </div>
                <div class="form-group">
                    <div class="form-control">
                        <select name="category" placeholder="Category" required>

                            {% for i in cat %}
                            <option value="{{ i.id }}">{{i.cname}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="integer" class="form-control" name="price" value="{{productdata.price}}" placeholder="Price" required>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" name="image" placeholder="Image" required>
                </div>
                <div class="form-group">
                    <input type="boolean" class="form-control" name="stock" value="{{productdata.stock}}" placeholder="Stock" required>
                </div>
                <div class="form-group">
                    <input type="boolean" class="form-control" name="stockstatus" value="{{productdata.stockstatus}}" placeholder="True/False" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" value="{{productdata.description}}" placeholder="Description" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Update</button>
                </div>
{% endblock %}