<!doctype html>
{% load static %}
<html lang="en">

<head>
	<title>Login 07</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/login/css/style.css">

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<form method="POST" action="{% url 'adminlogin' %}">
				{% csrf_token %}
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Admin Login</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-10">
						<div class="wrap d-md-flex">
							
							<div class="login-wrap p-4 p-lg-5">
							
								<form action="{% url 'adminlogin' %}" method="post" class="signin-form">
									{% csrf_token %}
									<div class="form-group mb-3">
										<label class="label" for="name">Email</label>
										<input type="email" name="email" class="form-control" placeholder="email" required>
									</div>
									<div class="form-group mb-3">
										<label class="label" for="password">Password</label>
										<input type="password" name="password" class="form-control" placeholder="Password" required>
									</div>
									<div class="form-group">
										<button type="submit"  class="form-control btn btn-primary submit px-3">Sign
											In</button>
									</div>
									<div class="form-group d-md-flex">
										<div class="w-50 text-left">
											<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
												<input type="checkbox" checked>
												<span class="checkmark"></span>
											</label>
										</div>
										
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</form>	
		</div>
	</section>

	<script src="static/login/js/jquery.min.js"></script>
	<script src="static/login/js/popper.js"></script>
	<script src="static/login/js/bootstrap.min.js"></script>
	<script src="static/login/js/main.js"></script>

</body>

</html>