<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Collection</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="static/user/css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="static/user/css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="static/user/css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="static/user/images/fevicon.png" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="static/user/css/jquery.mCustomScrollbar.min.css">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="static/user/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/user/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
	<!-- header section start -->
	<div class="header_section header_main">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo"><a href="#"><img src="static/user/images/logo.png"></a></div>
				</div>
				<div class="col-sm-9">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-item nav-link" href="index.html">Home</a>
								<a class="nav-item nav-link" href="collection.html">Product</a>
								<a class="nav-item nav-link" href="shoes.html">Shoes</a>
								<a class="nav-item nav-link" href="racing boots.html">Racing Boots</a>
								<a class="nav-item nav-link" href="contact.html">Contact</a>
								<a class="nav-item nav-link last" href="#"><img
										src="static/user/images/search_icon.png"></a>
								<a class="nav-item nav-link last" href="contact.html"><img
										src="static/user/images/shop_icon.png"></a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- new collection section start -->
	<div class="collection_text">Product</div>
	<div class="layout_padding collection_section">
		<div class="container">
			<h1 class="new_text"><strong>New Collection</strong></h1>
			<p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
			
				<div class="collection_section_2">
				
				<div class="row">
					<div class="col-md-6">
						<div class="about-img">
							<button class="new_bt">New</button>
							<div class="shoes-img"><img src="static/user/images/shoes-img1.png"></div>
							<p class="sport_text">Men Sports</p>
							<div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
							<div class="star_icon">
								<ul>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
								</ul>
							</div>
						</div>
						
						<button class="seemore_bt">See More</button>
					</div>
					<div class="col-md-6">
						<div class="about-img2">
							<div class="shoes-img2"><img src="static/user/images/shoes-img2.png"></div>
							<p class="sport_text">Men Sports</p>
							<div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
							<div class="star_icon">
								<ul>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
									<li><a href="#"><img src="static/user/images/star-icon.png"></a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- new collection section end -->
	<!-- section footer start -->
	<div class="section_footer">
		<div class="container">
			<div class="mail_section">
				<div class="row">
					<div class="col-sm-6 col-lg-2">
						<div><a href="#"><img src="static/user/images/footer-logo.png"></a></div>
					</div>
					<div class="col-sm-6 col-lg-2">
						<div class="footer-logo"><img src="static/user/images/phone-icon.png"><span
								class="map_text">(71) 1234567890</span></div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-logo"><img src="static/user/images/email-icon.png"><span
								class="map_text">Demo@gmail.com</span></div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="social_icon">
							<ul>
								<li><a href="#"><img src="static/user/images/fb-icon.png"></a></li>
								<li><a href="#"><img src="static/user/images/twitter-icon.png"></a></li>
								<li><a href="#"><img src="static/user/images/in-icon.png"></a></li>
								<li><a href="#"><img src="static/user/images/google-icon.png"></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</div>
			<div class="footer_section_2">
				<div class="row">
					<div class="col-sm-4 col-lg-2">
						<p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur ipsum
							dolor sit amet,</p>
					</div>
					<div class="col-sm-4 col-lg-2">
						<h2 class="shop_text">Address </h2>
						<div class="image-icon"><img src="static/user/images/map-icon.png"><span class="pet_text">No 40
								Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
					</div>
					<div class="col-sm-4 col-md-6 col-lg-3">
						<h2 class="shop_text">Our Company </h2>
						<div class="delivery_text">
							<ul>
								<li>Delivery</li>
								<li>Legal Notice</li>
								<li>About us</li>
								<li>Secure payment</li>
								<li>Contact us</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<h2 class="adderess_text">Products</h2>
						<div class="delivery_text">
							<ul>
								<li>Prices drop</li>
								<li>New products</li>
								<li>Best sales</li>
								<li>Contact us</li>
								<li>Sitemap</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-lg-2">
						<h2 class="adderess_text">Newsletter</h2>
						<div class="form-group">
							<input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
						</div>
						<button class="subscribr_bt">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- section footer end -->
	<div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html Templates</a></div>


	<!-- Javascript files-->
	<script src="static/user/js/jquery.min.js"></script>
	<script src="static/user/js/popper.min.js"></script>
	<script src="static/user/js/bootstrap.bundle.min.js"></script>
	<script src="static/user/js/jquery-3.0.0.min.js"></script>
	<script src="static/user/js/plugin.js"></script>
	<!-- sidebar -->
	<script src="static/user/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="static/user/js/custom.js"></script>
	<!-- javascript -->
	<script src="static/user/js/owl.carousel.js"></script>
	<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	<script>
		$(document).ready(function () 
		{
			$(".fancybox").fancybox
				({
					openEffect: "none",
					closeEffect: "none"
				});


			$('#myCarousel').carousel
				({
					interval: false
				});

			//scroll slides on swipe for touch enabled devices

			$("#myCarousel").on("touchstart", function (event) 
			{

				var yClick = event.originalEvent.touches[0].pageY;
				$(this).one("touchmove", function (event) 
				{

					var yMove = event.originalEvent.touches[0].pageY;
					if (Math.floor(yClick - yMove) > 1)
					 {
						$(".carousel").carousel('next');
					}
					else if (Math.floor(yClick - yMove) < -1) 
					{
						$(".carousel").carousel('prev');
					}
				});
				$(".carousel").on("touchend", function () 
				{
					$(this).off("touchmove");
				});
			});
		});
	</script>
</body>

</html>