<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Sign Up </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/signup/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Sign Up </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end" style="background-image: url(images/bg.jpg);">
							<div class="text w-100">
								<h2 class="mb-4">Welcome to signup form</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
			      </div>
						<div class="login-wrap p-4 p-md-5">
	      			<h3 class="mb-3">Create an account</h3>
							<form action="{% url  'add' %}" method="post"
							 class="signup-form">
							 {% csrf_token %}
								<div class="row">
									<div class="col-md-12">
										<div class="form-group d-flex align-items-center">
					      			<label class="label" for="name">Full Name</label>
					      			<input type="text" class="form-control"name="full_name" placeholder="Full Name">
					      		</div>
									</div>
									<div class="col-md-12">
										<div class="form-group d-flex align-items-center">
					      			<label class="label" for="date of bith">DOB</label>
					      			<input type="date" class="form-control"name="birthday"  placeholder="Birthday">
					      		</div>
									</div>
									<div class="col-md-12">
										<div class="form-group d-flex align-items-center">
					      			<label class="label" for="email">Email </label>
					      			<input type="email" class="form-control"name="email" placeholder="johndoe@email.com">
					      		</div>
									</div>
									<div class="col-md-12">
										<div class="form-group d-flex align-items-center">
					      			<label class="label" for="phone">Phone no.</label>
					      			<input type="number" class="form-control"name="phone" placeholder="+01">
					      		</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group d-flex align-items-center">
										  <label class="label" for="name">User Name</label>
										  <input type="text" class="form-control"name="usname" placeholder="USER Name">
									  </div>
										</div>
									<div class="col-md-12">
										<div class="form-group d-flex align-items-center">
				            	<label class="label" for="password">Password</label>
				              <input type="password" class="form-control"name="pssword" placeholder="Password">
				            </div>
									</div>
									<div class="input-group">
										<div class="rs-select2 js-select-simple select--no-search">
											<select name="gender">
												<option disabled="disabled" selected="selected">Gender</option>
												<option>Male</option>
												<option>Female</option>
												<option>Other</option>
											</select>
											<div class="select-dropdown"></div>
										</div>
									
									<div class="col-md-12 my-4">
										<div class="form-group">
				            	<div class="w-100">
					            	<label class="checkbox-wrap checkbox-primary">I agree all statements in terms of service
												  <input type="checkbox" checked>
												  <span class="checkmark"></span>
												</label>
											</div>
				            </div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
				            	<button type="submit" class="btn btn-secondary submit p-3">Create an account</button>
				            </div>
									</div>
								</div>

		          </form>
		          <div class="social-wrap">
		          	<p class="or">
		          		<span>or</span>
		          	</p>
		      			<p class="mb-3 text-center">Signup with this services</p>
		      			<p class="social-media d-flex justify-content-center">
		      				<a href="#" class="social-icon google d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a>
									<a href="#" class="social-icon facebook d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
									<a href="#" class="social-icon twitter d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
								</p>
	          	</div>
		          <div class="w-100 text-center">
								<p class="mt-4">I'm already a member! <a href="log">Sign In</a></p>
		          </div>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/signup/js/jquery.min.js"></script>
  <script src="static/signup/js/popper.js"></script>
  <script src="static/signup/js/bootstrap.min.js"></script>
  <script src="static/signup/js/main.js"></script>

	</body>
</html>

